  /* Dark theme */
  body.dark-theme {
    background-color:  #091e31;
    color: #ffffff;
  }
  
  body.dark-theme .footer-section {
    background-color:   #091e31;
  }
  
  body.dark-theme header,
  body.dark-theme nav,
  body.dark-theme .home-section,
  body.dark-theme .theme-toggle
   {
    background-color:  #091e31;
  }
  
  body.dark-theme input,
  body.dark-theme textarea,
  body.dark-theme select
  {
   background-color:  #2c4155;
 }
 body.dark-theme input,
 body.dark-theme textarea,
 body.dark-theme select
 {
   color: #ffffff;
   border: none;
 }
  
  body.dark-theme .theme-toggle svg,
  body.dark-theme header .logo span ,
  body.dark-theme a ,
  body.dark-theme h1,
  body.dark-theme h2,
  body.dark-theme p,
  body.dark-theme h3,
  body.dark-theme header nav .navs a 
  {
    color: #ffffff;
  }
  
  
  body.dark-theme .download-btn{
    background-color: white;
  }
  body.dark-theme .download-btn:hover {
    background-color: rgb(150, 167, 172);
  }

  body.dark-theme .project-card 
   {
    background-color:  #1e3950;
  }
  
  body.dark-theme .projects-card 
   {
    background-color:  #1e3950;
  }

  body.dark-theme .search-icon 
   {
    background-color:  #1e3950;
  }

  body.dark-theme .success-message {
    background-color: #cbffe7;
  }
  body.dark-theme .contact-details p {
    color: #a79e9e;
  }
  
  body.dark-theme .contact-form label{
    color: #c5c0c0;
  }
  body.dark-theme .contact-form{
    box-shadow: none;
    background-color: #152d46;
  }